@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

body {
    font-family: 'Hanna', serif;
    font-size: 16px;
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 600px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 700px;
    }
}

.add-margin {
    margin-bottom: 50px;
}

.id-check-space {
    float: left;
}