<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8">
        <title>파이썬 플라스크 관리자 페이지</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="../static/c3.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="../static/flask.css">
    </head>
    <body>
        <div class="container">
            <div class="col-sm-8 col-center">
                <div class="panel panel-default">
                    <div class="panel-heading">유저관리</div>
                    <div class="panel-body">
                        <table id="user-list" class="table table-striped table-hover">
                            <thead>
                                <th>아이디</th>
                                <th>비밀번호</th>
                                <th>권한</th>
                            </thead>
                        </table>
                        <button class="btn btn-default" onclick="location.href = '/'">메인으로</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
        <script src="../static/js/user.js"></script>
    </body>
</html>